@-webkit-keyframes gauge {
  /* line 29, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  0% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); }

  /* line 31, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  10% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 32, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  20% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }

  /* line 33, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  24% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }

  /* line 35, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  40% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 36, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  54% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg); }

  /* line 37, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  56% {
    -webkit-transform: rotate(78deg);
    -moz-transform: rotate(78deg);
    -ms-transform: rotate(78deg);
    -o-transform: rotate(78deg);
    transform: rotate(78deg); }

  /* line 38, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  58% {
    -webkit-transform: rotate(73deg);
    -moz-transform: rotate(73deg);
    -ms-transform: rotate(73deg);
    -o-transform: rotate(73deg);
    transform: rotate(73deg); }

  /* line 39, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  60% {
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg); }

  /* line 40, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  62% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg); }

  /* line 42, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  70% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 44, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  80% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 45, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  83% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg); }

  /* line 46, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  86% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 47, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  89% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg); }

  /* line 49, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  100% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); } }

@-moz-keyframes gauge {
  /* line 29, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  0% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); }

  /* line 31, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  10% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 32, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  20% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }

  /* line 33, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  24% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }

  /* line 35, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  40% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 36, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  54% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg); }

  /* line 37, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  56% {
    -webkit-transform: rotate(78deg);
    -moz-transform: rotate(78deg);
    -ms-transform: rotate(78deg);
    -o-transform: rotate(78deg);
    transform: rotate(78deg); }

  /* line 38, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  58% {
    -webkit-transform: rotate(73deg);
    -moz-transform: rotate(73deg);
    -ms-transform: rotate(73deg);
    -o-transform: rotate(73deg);
    transform: rotate(73deg); }

  /* line 39, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  60% {
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg); }

  /* line 40, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  62% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg); }

  /* line 42, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  70% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 44, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  80% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 45, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  83% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg); }

  /* line 46, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  86% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 47, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  89% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg); }

  /* line 49, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  100% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); } }

@-o-keyframes gauge {
  /* line 29, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  0% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); }

  /* line 31, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  10% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 32, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  20% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }

  /* line 33, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  24% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }

  /* line 35, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  40% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 36, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  54% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg); }

  /* line 37, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  56% {
    -webkit-transform: rotate(78deg);
    -moz-transform: rotate(78deg);
    -ms-transform: rotate(78deg);
    -o-transform: rotate(78deg);
    transform: rotate(78deg); }

  /* line 38, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  58% {
    -webkit-transform: rotate(73deg);
    -moz-transform: rotate(73deg);
    -ms-transform: rotate(73deg);
    -o-transform: rotate(73deg);
    transform: rotate(73deg); }

  /* line 39, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  60% {
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg); }

  /* line 40, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  62% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg); }

  /* line 42, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  70% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 44, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  80% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 45, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  83% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg); }

  /* line 46, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  86% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 47, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  89% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg); }

  /* line 49, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  100% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); } }

@keyframes gauge {
  /* line 29, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  0% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); }

  /* line 31, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  10% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 32, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  20% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }

  /* line 33, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  24% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }

  /* line 35, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  40% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 36, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  54% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg); }

  /* line 37, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  56% {
    -webkit-transform: rotate(78deg);
    -moz-transform: rotate(78deg);
    -ms-transform: rotate(78deg);
    -o-transform: rotate(78deg);
    transform: rotate(78deg); }

  /* line 38, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  58% {
    -webkit-transform: rotate(73deg);
    -moz-transform: rotate(73deg);
    -ms-transform: rotate(73deg);
    -o-transform: rotate(73deg);
    transform: rotate(73deg); }

  /* line 39, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  60% {
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg); }

  /* line 40, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  62% {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg); }

  /* line 42, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  70% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }

  /* line 44, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  80% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 45, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  83% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg); }

  /* line 46, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  86% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }

  /* line 47, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  89% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg); }

  /* line 49, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  100% {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg); } }

/* line 52, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
.gauge {
  margin-left: auto;
  margin-right: auto;
  background: #1ccacc;
  -moz-border-radius-topleft: 128px;
  -webkit-border-top-left-radius: 128px;
  border-top-left-radius: 128px;
  -moz-border-radius-topright: 128px;
  -webkit-border-top-right-radius: 128px;
  border-top-right-radius: 128px;
  width: 256px;
  height: 128px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 10px 60px, rgba(0, 0, 0, 0.1) 0 0 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 10px 60px, rgba(0, 0, 0, 0.1) 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 10px 60px, rgba(0, 0, 0, 0.1) 0 0 20px;
  -moz-transform: scale(0.9999); }

/* line 65, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
.gauge-indicator {
  -webkit-animation: gauge 4000ms infinite ease;
  -moz-animation: gauge 4000ms infinite ease;
  -ms-animation: gauge 4000ms infinite ease;
  -o-animation: gauge 4000ms infinite ease;
  animation: gauge 4000ms infinite ease;
  content: '';
  position: absolute;
  left: 118.15385px;
  top: 21.33333px;
  width: 0;
  height: 0;
  border-bottom: 106.66667px solid white;
  border-left: 10.66667px solid rgba(255, 255, 255, 0);
  border-right: 10.66667px solid rgba(255, 255, 255, 0);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

/* line 79, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
.gauge-center {
  content: '';
  background: white;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px;
  position: absolute;
  left: 102.4px;
  top: 102.4px;
  width: 51.2px;
  height: 51.2px; }

/* line 93, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
.splash-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center; }
.splash-center_link1 {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center; }
.splash-center_link2 {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center; 

}


@-webkit-keyframes fadeInDown {
  /* line 102, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }

  /* line 107, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes fadeInDown {
  /* line 102, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }

  /* line 107, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-o-keyframes fadeInDown {
  /* line 102, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }

  /* line 107, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInDown {
  /* line 102, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }

  /* line 107, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

/* line 113, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
.emerald {
  -webkit-filter: drop-shadow(0 0 60px rgba(0, 0, 0, 0.3)) drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
  -moz-filter: drop-shadow(0 0 60px rgba(0, 0, 0, 0.3)) drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 0 60px rgba(0, 0, 0, 0.3)) drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
  -webkit-animation: fadeInDown 0.5s linear;
  -moz-animation: fadeInDown 0.5s linear;
  -ms-animation: fadeInDown 0.5s linear;
  -o-animation: fadeInDown 0.5s linear;
  animation: fadeInDown 0.5s linear; }

/* line 122, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
.warp-speed {
  -webkit-transition: -webkit-transform 0.5s ease-in;
  -moz-transition: -moz-transform 0.5s ease-in;
  -o-transition: -o-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  -webkit-transform: scale(100, 100);
  -moz-transform: scale(100, 100);
  -ms-transform: scale(100, 100);
  -o-transform: scale(100, 100);
  transform: scale(100, 100); }

/* line 130, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
html, body {
  height: 100%; }

/* line 134, /home/clyfe/dev/emerald/source/stylesheets/splash.scss */
body {
  position: relative;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/triangles-colors.svg"); }
