<script type="text/javascript">
    var polyfilter_scriptpath = "/themes/emerald/polyfills/filters/";
    window.polyfilter_skip_stylesheets = true
</script>
<link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 9]>
<link href="/stylesheets/application_split2.css" rel="stylesheet" type="text/css" /><link href="/stylesheets/application_split3.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script src="/javascripts/application.js" type="text/javascript"></script>
<script src="/javascripts/demo.js" type="text/javascript"></script>
<script src="/javascripts/init.js" type="text/javascript"></script>

<body class="high emerald-default htmls htmls_dashboard">
    <div class="oc-xs-push-push oc-sm-squeeze-push oc-md-squeeze-push oc-lg-squeeze-push modal-blur-content">
    <div id="oc-wrapper" class="oc-wrapper
            oc-lg-open-left oc-md-partial-left oc-sm-partial-left
            oc-lg-left-squeeze oc-md-left-squeeze oc-sm-left-squeeze oc-xs-left-push
            oc-lg-right-push oc-md-right-push oc-sm-right-push oc-xs-right-push">
        <div class="oc-push oc-scroll">
            <aside id="main-oc-sidebar-left" class="oc-sidebar oc-sidebar-left oc-sidebar-fixed nano">
                <div class="nano-content">
                    <div class="oc-sidebar-header">
                        <ul class="nav nav-justified-all">
                            <li>
                                <a id="oc-left-toggle" href="#oc-wrapper"
                                        class="btn-nav" style="width: 50px;"
                                        data-toggle="offcanvas" data-control="left"
                                        data-states="open,partial"
                                        data-persist="lg,md,sm"
                                        data-parent="body" data-sibling="right">
                                    <i class="icm icm-menu6 oc-partial-rotate"></i>
                                </a>
                            </li>
                            <li>
                                <strong>Brainstorm</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="oc-sidebar-content" id="collapseAvatarLeft">
                        <ul class="nav nav-stacked oc-sidebar-nav visible-xs">
                            <li>
                                <form class="oc-header oc-search" role="search">
                                    <div class="form-group has-header">
                                        <span class="icm icm-search3 form-control-header"></span>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </form>
                            </li>
                            <li class="dropdown">
                                <a href="#dropdownUserSidebar" class="collapsed"  data-toggle="collapse" data-parent="#collapseAvatarLeft">
                                    <div class="media">
                                        <img class="img-circle media-object pull-left" src="/wrap_build/build/images/faker/avatars/48/Faces_Users-23.png" />
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                            </h4>
                                        </div>
                                    </div>
                                </a>
<!--                                <ul class="collapse dropdown-menu" id="dropdownUserSidebar">
                                    <li>
                                        <a href="/profile"><i class="icm icm-user"></i> {{ 'words.profile'|trans({}, 'AppBundle') }} </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icm icm-cog"></i> Settings</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="icm icm-switch text-danger"></i> 
                                            <span class="text-danger"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                                        </a>
                                    </li>
                                </ul>-->
                            </li>
                        </ul>
                        <form class="oc-header oc-search oc-partial-hidden oc-filter" role="search">
                            <div class="form-group has-header oc-reveal collapsed">
                                <span class="icm icm-filter3 form-control-header"></span>
                                <input type="text" class="form-control oc-menu-filter" placeholder="Filter menu" data-toggle="listfilter" data-target="#collapseNavbarLeft2">
                            </div>
                        </form>
                        <ul class="nav nav-stacked oc-sidebar-nav" id="collapseNavbarLeft2">
                            <li class=" active">
                                <a rel="popover-sidebar" data-container="body" data-placement="right" data-content="Strona główna tablicy" href="<?=$dashboard;?>">          
                                    <i class="oc-partial-icon icm icm-screen4"></i>
                                    <span class="oc-partial-menu-item">Tablica</span>
</a>    </li>
    <li class="">
<a class="collapsed" rel="popover-sidebar" data-container="body" data-placement="right" data-content="A mashup of components that you can easily drop in your project.
" href="widgets.html">          <i class="oc-partial-icon icm icm-grid"></i>
        <span class="oc-partial-menu-item">
          Widgets
        </span>
</a>        <span class='badge badge-primary oc-nav-caption'>18</span>
    </li>
    <li class=" dropdown">
<a class="collapsed" data-toggle="collapse" data-parent="#collapseNavbarLeft2" rel="popover-sidebar" data-container="body" data-placement="right" data-content="We styled the Bootstrap elements beautifuly, and added several of our own!
" href="#uid392a71038bd462a6657abe6f74fba7b8">          <i class="oc-partial-icon icm icm-html5"></i>
        <span class="oc-partial-menu-item">
          UI Elements
            <b class="caret"></b>
        </span>
</a>        <ul class="collapse dropdown-menu " id="uid392a71038bd462a6657abe6f74fba7b8">
            
<li class=" dropdown">
<a class="collapsed" data-toggle="collapse" data-parent="#uid392a71038bd462a6657abe6f74fba7b8" href="#uid61219d65f5a10a0a07be09f8fa5d0bec">    Motion cards
      <b class="caret"></b>
</a>    <span class='label label-inverse oc-nav-caption'>New</span>
    <ul class="collapse dropdown-menu " id="uid61219d65f5a10a0a07be09f8fa5d0bec">
        
<li class="">
<a class="collapsed" href="elements/cards/turbocards.html">    Turbo cards
</a></li>
        
<li class="">
<a class="collapsed" href="elements/cards/captionable.html">    Captionable cards
</a>    <span class='badge badge-info oc-nav-caption'>12</span>
</li>
        
<li class="">
<a class="collapsed" href="elements/cards/actionable.html">    Actionable card
</a></li>
    </ul>
</li>
            
<li class=" dropdown">
<a class="collapsed" data-toggle="collapse" data-parent="#uid392a71038bd462a6657abe6f74fba7b8" href="#uid3efdb803420c282be2cb30826c521d1f">    Offcanvas
      <b class="caret"></b>
</a>    <ul class="collapse dropdown-menu " id="uid3efdb803420c282be2cb30826c521d1f">
        
<li class="">
<a class="collapsed" href="elements/offcanvas/squeeze-squeeze.html">    Squeeze squeeze
</a></li>
        
<li class="">
<a class="collapsed" href="elements/offcanvas/squeeze-push.html">    Squeeze push
</a></li>
    </ul>
</li>
            
<li class="">
<a class="collapsed" href="elements/typography.html">    Typography
</a></li>
            
<li class="">
<a class="collapsed" href="elements/buttons.html">    Buttons
</a></li>
            
<li class="">
<a class="collapsed" href="elements/nav.html">    Navigation
</a></li>
            
<li class="">
<a class="collapsed" href="elements/icons.html">    Icons
</a>    <span class='label label-danger oc-nav-caption'>New</span>
</li>
            
<li class="">
<a class="collapsed" href="elements/modal.html">    Modals & Notifications
</a></li>
            
<li class="">
<a class="collapsed" href="elements/tree.html">    Trees and nesting
</a></li>
            
<li class="">
<a class="collapsed" href="elements/components.html">    Other components
</a></li>
            
<li class="">
<a class="collapsed" href="elements/jquery-ui.html">    JQuery UI
</a></li>
            
<li class=" dropdown">
<a class="collapsed" data-toggle="collapse" data-parent="#uid392a71038bd462a6657abe6f74fba7b8" href="#uidb48ecb411488e5d51c07550d5b8c1321">    Multi level menu
      <b class="caret"></b>
</a>    <ul class="collapse dropdown-menu " id="uidb48ecb411488e5d51c07550d5b8c1321">
        
<li class=" dropdown">
<a class="collapsed" data-toggle="collapse" data-parent="#uidb48ecb411488e5d51c07550d5b8c1321" href="#uiddf641380d64aad8392b9b6e34ac4b254">    Multi level menu
      <b class="caret"></b>
</a>    <ul class="collapse dropdown-menu " id="uiddf641380d64aad8392b9b6e34ac4b254">
        
<li class=" dropdown">
<a class="collapsed" data-toggle="collapse" data-parent="#uiddf641380d64aad8392b9b6e34ac4b254" href="#uid13b916b27639bfdc1948faeb862989fb">    Multi level menu
      <b class="caret"></b>
</a>    <ul class="collapse dropdown-menu " id="uid13b916b27639bfdc1948faeb862989fb">
        
<li class=" dropdown">
<a class="collapsed" data-toggle="collapse" data-parent="#uid13b916b27639bfdc1948faeb862989fb" href="#uidbcd9abcdf56e6603b19548863f464f8d">    Multi level menu
      <b class="caret"></b>
</a>    <ul class="collapse dropdown-menu " id="uidbcd9abcdf56e6603b19548863f464f8d">
        
<li class=" dropdown">
<a class="collapsed" data-toggle="collapse" data-parent="#uidbcd9abcdf56e6603b19548863f464f8d" href="#uidecbef09ce3c312abb1538097695e4388">    Multi level menu
      <b class="caret"></b>
</a>    <ul class="collapse dropdown-menu " id="uidecbef09ce3c312abb1538097695e4388">
        
<li class="">
<a class="collapsed" href="#">    Multi level menu
</a></li>
    </ul>
</li>
    </ul>
</li>
    </ul>
</li>
    </ul>
</li>
    </ul>
</li>
        </ul>
    </li>
    <li class="">
<a class="collapsed" rel="popover-sidebar" data-container="body" data-placement="right" data-content="Visual indicators like charts and graphs, bars, pies, gauges and more.
" href="charts.html">          <i class="oc-partial-icon icm icm-chart"></i>
        <span class="oc-partial-menu-item">
          Charts
        </span>
</a>    </li>
    <li class="">
<a class="collapsed" rel="popover-sidebar" data-container="body" data-placement="right" data-content="Forms and inputs, validations, form extensions and custom controll
for all your data needs, easy peasy.
" href="forms.html">          <i class="oc-partial-icon icm icm-clipboard3"></i>
        <span class="oc-partial-menu-item">
          Forms
        </span>
</a>        <i class='icm icm-star6 text-warning oc-nav-caption'></i>
    </li>
    <li class="">
<a class="collapsed" rel="popover-sidebar" data-container="body" data-placement="right" data-content="Beautifully crafted tables including responsive and dynamic extensions.
" href="tables.html">          <i class="oc-partial-icon icm icm-table2"></i>
        <span class="oc-partial-menu-item">
          Tables
        </span>
</a>    </li>
    <li class="">
<a class="collapsed" rel="popover-sidebar" data-container="body" data-placement="right" data-content="Panel widgets with dynamic portal-like behaviors.
Move them, toggle them, swap tehm, you name it.
" href="panels.html">          <i class="oc-partial-icon icm icm-insert-template"></i>
        <span class="oc-partial-menu-item">
          Panels
        </span>
</a>        <span class='label label-success oc-nav-caption'>New</span>
    </li>
    <li class=" dropdown">
<a class="collapsed" data-toggle="collapse" data-parent="#collapseNavbarLeft2" rel="popover-sidebar" data-container="body" data-placement="right" data-content="A series of ready-made great looking components that 
you may need in your projects.
" href="#uide2009b529b199969dd49e4f359766f73">          <i class="oc-partial-icon icm icm-calendar2"></i>
        <span class="oc-partial-menu-item">
          Components
            <b class="caret"></b>
        </span>
</a>        <ul class="collapse dropdown-menu " id="uide2009b529b199969dd49e4f359766f73">
            
<li class="">
<a class="collapsed" href="components/timeline.html">    Timeline
</a></li>
            
<li class="">
<a class="collapsed" id="oc-open-chat" data-toggle="offcanvas" data-control="right" data-states="open,hidden" href="#oc-wrapper">    Chat
</a></li>
            
<li class="">
<a class="collapsed" href="components/gallery.html">    Gallery
</a></li>
            
<li class="">
<a class="collapsed" href="components/calendar.html">    Calendar
</a></li>
            
<li class="">
<a class="collapsed" href="components/wizard.html">    Wizard
</a></li>
        </ul>
    </li>
    <li class=" dropdown">
<a class="collapsed" data-toggle="collapse" data-parent="#collapseNavbarLeft2" rel="popover-sidebar" data-container="body" data-placement="right" data-content="We built all common page layouts so you don't have to.
You will use these in your next project for sure.
" href="#uidfb5362758cbaffeeeaccba0793bded1a">          <i class="oc-partial-icon icm icm-stack2"></i>
        <span class="oc-partial-menu-item">
          Pages
            <b class="caret"></b>
        </span>
</a>        <ul class="collapse dropdown-menu " id="uidfb5362758cbaffeeeaccba0793bded1a">
            
<li class="">
<a class="collapsed" data-no-turbolink="true" href="pages/sign_in.html">    Sign In
</a></li>
            
<li class="">
<a class="collapsed" data-no-turbolink="true" href="pages/sign_up.html">    Sign Up
</a></li>
            
<li class="">
<a class="collapsed" data-no-turbolink="true" href="pages/lockscreen.html">    Lock Screen
</a></li>
            
<li class="">
<a class="collapsed" href="pages/profile.html">    User Profile
</a></li>
            
<li class="">
<a class="collapsed" href="pages/albums.html">    Albums
</a></li>
            
<li class="">
<a class="collapsed" href="pages/invoice.html">    Invoice
</a></li>
            
<li class="">
<a class="collapsed" href="pages/pricing.html">    Pricing
</a></li>
            
<li class="">
<a class="collapsed" href="pages/inbox.html">    Inbox
</a></li>
        </ul>
    </li>
</ul>
  
                    </div>
                </div>
            </aside>
            <div id="main-oc-container" class="oc-container">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="em-page-header v-mid-row thin">
                                <!--<i class="icm icm-screen4 text-gradient-info-dk"></i>-->
                                <!--<span class="text-gradient-info-dk">Tablica</span>-->
                            </h3>      
                        </div>
                        <div class="col-sm-6 text-right-sm text-right-md text-right-lg">
                            <!--<ul class="breadcrumb breadcrumb-top">-->
                                <!--<li><i class="fa fa-home"></i> Home</li>-->
                                <!--<li class="active">Dashboard</li>-->
                            <!--</ul>-->      
                        </div>
                    </div>
                </div>
                <div class="container-fluid turbo-cols-static turbo-grid-wrap">
                    <div class="turbo-grid">
                        <div class="row" rel="panels">
                            
                        </div>
                        <div class="row" rel="panels">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <div id="mq"></div>
    <div id="emvars"></div>
</body>