 <?php
 // module/Album/view/album/album/index.phtml:

 $title = 'links';
 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <p>
     <a href="<?php echo $this->url('links', array('action'=>'add'));?>">Add new album</a>
 </p>

 <table class="table">
 <tr>
     <th>Links</th>
     <th>Links</th>
     <th>&nbsp;</th>
 </tr>
 <?php foreach ($links as $link) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($link->user_link);?></td>
     <td><?php echo $this->escapeHtml($link->admin_link);?></td>
     <td>
         <a href="<?php echo $this->url('links',
             array('action'=>'edit', 'id' => $link->id));?>">Edit</a>
         <a href="<?php echo $this->url('links',
             array('action'=>'delete', 'id' => $link->id));?>">Delete</a>
     </td>
 </tr>
 <?php endforeach; ?>
 </table>