<!DOCTYPE html>

<head>
    <title><?=$title?></title>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/styles/prettyPhoto.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/styles/owl.carousel.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/styles/owl.theme.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/styles/animate.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,300,200,100,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="images/brainstorm_mini.png">
</head>

    <body>
    
        <?php echo $this->content;?>
    
        <footer id="footer">
            <div class="footer-container">
                <h5 class="footer-copyright">© 2015 Brainstorm - students project.</h5>
            </div>
        </footer>

        <!-- Scripts -->
        <!--[if lt IE 9]><!-->  
            <script type="text/javascript" src="scripts/jquery-1.11.0.min.js?ver=1"></script>
        <!--<![endif]--> 
        <!--[if (gte IE 9) | (!IE)]><!-->  
            <script type="text/javascript" src="scripts/jquery-2.1.0.min.js?ver=1"></script>
        <!--<![endif]--> 
        <script src="scripts/jquery.easing.js"></script>
        <script type="text/javascript" src="scripts/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="scripts/jquery.tools.min.js"></script>
        <script type="text/javascript" src="scripts/owl.carousel.min.js"></script>
        <script type="text/javascript" src="scripts/jquery.nav.js"></script>
        <script type="text/javascript" src="scripts/jquery.scrollTo.js"></script>
        <script type="text/javascript" src="scripts/jquery.sticky.js"></script>
        <script type="text/javascript" src="scripts/jquery.appear.js"></script>
        <script type="text/javascript" src="scripts/responsiveslides.min.js"></script>
        <script type="text/javascript" src="scripts/verge.min.js"></script>
        <script type="text/javascript" src="scripts/custom.js"></script>

    </body>
</html>
