
<html>
<head>

<title><?=$title?></title>
<script type="text/javascript">
    var polyfilter_scriptpath = "/themes/emerald/polyfills/filters/";
    window.polyfilter_skip_stylesheets = true
</script>
<link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="/alertify/css/alertify.css">
<link rel="stylesheet" href="/alertify/css/themes/default.css">
<script src="/alertify/alertify.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<!--[if lte IE 9]>
<link href="/stylesheets/application_split2.css" rel="stylesheet" type="text/css" /><link href="/stylesheets/application_split3.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script src="/javascripts/application.js" type="text/javascript"></script>
<script src="/javascripts/demo.js" type="text/javascript"></script>
<script src="/javascripts/init.js" type="text/javascript"></script>
</head>

<body class="high emerald-default htmls htmls_dashboard">
    <div class="oc-xs-push-push oc-sm-squeeze-push oc-md-squeeze-push oc-lg-squeeze-push modal-blur-content">
    <div id="oc-wrapper" class="oc-wrapper
            oc-lg-open-left oc-md-partial-left oc-sm-partial-left
            oc-lg-left-squeeze oc-md-left-squeeze oc-sm-left-squeeze oc-xs-left-push
            oc-lg-right-push oc-md-right-push oc-sm-right-push oc-xs-right-push">
        <div class="oc-push oc-scroll">
            <aside id="main-oc-sidebar-left" class="oc-sidebar oc-sidebar-left oc-sidebar-fixed nano">
                <div class="nano-content">
                    <div class="oc-sidebar-header">
                        <ul class="nav nav-justified-all">
                            <li>
                                <a id="oc-left-toggle" href="#oc-wrapper"
                                        class="btn-nav" style="width: 50px;"
                                        data-toggle="offcanvas" data-control="left"
                                        data-states="open,partial"
                                        data-persist="lg,md,sm"
                                        data-parent="body" data-sibling="right">
                                    <i class="icm icm-menu6 oc-partial-rotate"></i>
                                </a>
                            </li>
                            <li>
                                <strong>Brainstorm</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="oc-sidebar-content" id="collapseAvatarLeft">
                        <ul class="nav nav-stacked oc-sidebar-nav visible-xs">
                            <li>
                                <form class="oc-header oc-search" role="search">
                                    <div class="form-group has-header">
                                        <span class="icm icm-search3 form-control-header"></span>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </form>
                            </li>
                        </ul>
                        <form class="oc-header oc-search oc-partial-hidden oc-filter" role="search">
                            <div class="form-group has-header oc-reveal collapsed">
                                <span class="icm icm-filter3 form-control-header"></span>
                                <input type="text" class="form-control oc-menu-filter" placeholder="Filter menu" data-toggle="listfilter" data-target="#collapseNavbarLeft2">
                            </div>
                        </form>
                        <ul class="nav nav-stacked oc-sidebar-nav" id="collapseNavbarLeft2">
                            <li class="">
                                <a rel="popover-sidebar" data-container="body" data-placement="right" data-content="Miłego korzystania z systemu" href="<?=$dashboard;?>">          
                                <i class="oc-partial-icon icm icm-html5"></i>
                                <span class="oc-partial-menu-item">
                                    <?php if($admin): ?>
                                    Witaj Prowadzący!
                                    <?php else: ?>
                                    Witaj Uczestniku!
                                    <?php endif;?>
                                </span>
                                </a>    
                            </li>
                            <li class=" active">
                                <a rel="popover-sidebar" data-container="body" data-placement="right" data-content="Strona główna tablicy" href="<?=$dashboard;?>">          
                                    <i class="oc-partial-icon icm icm-screen4"></i>
                                    <span class="oc-partial-menu-item">Tablica</span>
                                </a>    
                            </li>
                            <li class="">
                                <a class="collapsed" rel="popover-sidebar" data-container="body" data-placement="right" data-content="Dodaj nowy pomysł" onclick="addNote(<?=$tabId;?>)">          
                                    <i class="oc-partial-icon icm icm-grid"></i>
                                    <span class="oc-partial-menu-item">Nowy pomysł</span>
                                </a>        
                            </li>
                            <li class="">
                            <?php if(!$group): ?>
                                <a class="collapsed" rel="popover-sidebar" data-container="body" data-placement="right" data-content="Rozpoczyna grupowanie pomysłów" onclick="startGroupe(<?=$tabId;?>)">          
                                    <i class="oc-partial-icon icm icm-clipboard3"></i>
                                    <span class="oc-partial-menu-item">Rozpocznij grupowanie</span>
                                </a>        
                            </li>
                            <?php else: ?>
                            <li class="">
                                <a class="collapsed" rel="popover-sidebar" data-container="body" data-placement="right" data-content="Wyłącza grupowanie pomysłów" onclick="endGroupe(<?=$tabId;?>)">          
                                    <i class="oc-partial-icon icm icm-clipboard3"></i>
                                    <span class="oc-partial-menu-item">Zakończ grupowanie</span>
                                </a>        
                            <?php endif; ?>
                            </li>    
                            <?php if($admin): ?>
                            <li class="">
                            <?php if(!$vote): ?>
                                <a class="collapsed" rel="popover-sidebar" data-container="body" data-placement="right" data-content="Uruchom głosowanie na istniejące pomysły" onclick="startVote(<?=$tabId;?>)">          
                                    <i class="oc-partial-icon icm icm-chart"></i>
                                    <span class="oc-partial-menu-item">Głosowanie</span>
                                </a>    
                            <?php else: ?>
                                <a class="collapsed" rel="popover-sidebar" data-container="body" data-placement="right" data-content="Zakończ głosowanie" onclick="endVote(<?=$tabId;?>)">          
                                    <i class="oc-partial-icon icm icm-chart"></i>
                                    <span class="oc-partial-menu-item">Głosowanie</span>
                                </a>    
                            <?php endif; ?>
                            </li>
                            <li class="">
                                <a class="collapsed" rel="popover-sidebar" data-container="body" data-placement="right" data-content="Skopiuj link użytkownika" onclick="copyLink('<?=$userlink;?>')">
                                    <i class="oc-partial-icon icm icm-stack2"></i>
                                    <span class="oc-partial-menu-item">Skopiuj link użytkownika</span>
                                </a>
                            </li>
                            <?php endif;?>
                        </ul>
                    </div>
                </div>
            </aside>
            <div id="main-oc-container" class="oc-container">
                <ul class="nav navbar-nav navbar-left pull-left hidden-sm hidden-md hidden-lg">
                    <li>
                      <a id="oc-left-toggle-xs" href="#oc-wrapper"
                         class="btn-nav pull-left "
                         data-toggle="offcanvas" data-control="left"
                         data-states="open,hidden"
                         data-persist="lg,md,sm"
                         data-parent="body" data-sibling="right">
                        <i class="icm icm-menu6"></i>
                      </a>
                    </li>
                </ul>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="em-page-header v-mid-row thin">
                                <!--<i class="icm icm-screen4 text-gradient-info-dk"></i>-->
                                <!--<span class="text-gradient-info-dk">Tablica</span>-->
                            </h3>      
                        </div>
                        <div class="col-sm-6 text-right-sm text-right-md text-right-lg">
                            <!--<ul class="breadcrumb breadcrumb-top">-->
                                <!--<li><i class="fa fa-home"></i> Home</li>-->
                                <!--<li class="active">Dashboard</li>-->
                            <!--</ul>-->      
                        </div>
                    </div>
                </div>
                <div class="container-fluid turbo-cols-static turbo-grid-wrap">
                    <div class="turbo-grid" id="superrefresh">
                        <div class="row" rel="panels">
                            <?php $tmp_group=0; ?>
                            <?php $tmp_continnote=0; ?>
                            <?php foreach ($notes as $note): ?>
                            <?php 
                            $tmp_lastgroup=$tmp_group;
                            $tmp_group=$note->getGroup(); 
                            ?>
                            <?php if($group):?>
                                <div class="col-md-3 panels">   
                                    <div class="captionable captionable-effect-slide-left">
                                        <div class="panel captionable-panel-clip">
                                            <div class="panel-heading">
                                                <div class="panel-title text-center">
                                                    <?=$note->getName();?>
                                                </div>
                                            </div>
                                            <?php if($note->getGroup()): ?>
                                            <div class="panel-heading">
                                                <div class="panel-title text-center">
                                                    Grupa:
                                                    <?php foreach ($groups as $single_group): 
                                                        if($single_group->getId_Group()==$note->getGroup()):
                                                            echo $single_group->getName();
                                                        endif;                                                            
                                                    endforeach; ?>                                      
                                                </div>
                                            </div>
                                            <?php endif ?>
                                            <div class="panel-body no-padding-top">
                                                <div class="vpadded">
                                                    <div style="height: 186px;" class="text-center padded-top">
                                                        <i class="icm icm-html52 icm-4x text-danger" style="font-size: 128px;"></i>
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                    <div class="col-xs-4 text-center">
                                                        <div>
                                                            <i class="icm icm-chart text-primary"></i>
                                                        </div>
                                                        <div>
                                                            Liczba głosów: <?=$note->getVote();?>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4 text-center">
                                                        <div>
                                                            <i class="icm icm-pie text-primary"></i>
                                                        </div>
                                                        <div>
                                                            <?php echo(round(($note->getVote()/$votenumber)*100));?> %
                                                        </div>
                                                    </div>
                                                    <?php if($vote): ?>
                                                    <div class="col-xs-4 text-center">
                                                        <a class="collapsed" onclick='vote(<?=$note->getId();?>, <?=$tabId;?>, "<?php echo(str_replace('"', '', $note->getName()));?>")'>
                                                        <div>
                                                            <i class="icm icm-star6 text-primary"></i>
                                                        </div>
                                                        <div>
                                                            Oddaj głos
                                                        </div>
                                                        </a>
                                                    </div>
                                                    <?php endif ?>
                                                    <?php if($group): ?>
                                                    <div class="col-xs-4 text-center">
                                                        <a class="collapsed" onclick="editGroupStart(<?=$note->getId()?>)"> 
                                                        <div>
                                                            <i class="icm icm-cursor text-primary"></i>
                                                        </div>
                                                        <div>
                                                            <?php echo "Wybierz grupę [ID: "; ?>
                                                            <?php echo $note->getGroup() . "]"; ?> 
                                                        </div>
                                                        </a>
                                                    </div>
                                                    <?php endif ?>
                                                </div>
                                            </div>
                                            <div class="captionable-caption captionable-caption-bis panel-body-info nano">
                                                <div class="nano-content padded no-padding-top">
                                                    <div class="margin-right">
                                                        <h4 class="text-right vertical-text-right with-scroll"><?=$note->getName();?></h4>
                                                        <div>
                                                            <p><?=$note->getDescription();?></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php else:?>
                                    <?php if($tmp_continnote): ?> 
                                    <?php if($tmp_lastgroup==$tmp_group)
                                    {
                                        echo "<p>---</p>";
                                        echo $note->getDescription();
                                    }
                                    else
                                    {
                                        $tmp_continnote=0;
                                        echo "</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>";
                                    }?>
                                
                                <?php endif;?>
                                <?php if(!$tmp_continnote):?>
                                    <div class="col-md-3 panels">   
                                        <div class="captionable captionable-effect-slide-left">
                                            <div class="panel captionable-panel-clip">
                                                <div class="panel-heading">
                                                    <div class="panel-title text-center">
                                                        <?php if($note->getGroup()): ?>
                                                        Grupa pomysłów:
                                                        <?php foreach ($groups as $single_group): 
                                                            if($single_group->getId_Group()==$note->getGroup()):
                                                                echo $single_group->getName();
                                                            endif;                                                            
                                                        endforeach; ?> 
                                                        <?php else: ?>
                                                        <?=$note->getName();?>
                                                        <?php endif ?>
                                                    </div>
                                                </div>
                                                <div class="panel-body no-padding-top">
                                                    <div class="vpadded">
                                                        <div style="height: 186px;" class="text-center padded-top">
                                                            <i class="icm icm-html52 icm-4x text-danger" style="font-size: 128px;"></i>
                                                        </div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col-xs-4 text-center">
                                                            <div>
                                                                <i class="icm icm-chart text-primary"></i>
                                                            </div>
                                                            <div>
                                                                Liczba głosów: 
                                                                
                                                                 <?php if($note->getGroup()) :?>
                                                                     <?php 
                                                                     $group_tmp=$note->getGroup();
                                                                     $sum_group=0;
                                                                     foreach ($notes as $note_tmp)
                                                                     {
                                                                         if($note_tmp->getGroup()==$group_tmp)
                                                                         {
                                                                             $sum_group=$sum_group+$note_tmp->getVote();
                                                                         }
                                                                     }
                                                                     echo $sum_group; ?>
                                                                <?php else: ?>
                                                                    <?=$note->getVote();?>
                                                                <?php  endif;?>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4 text-center">
                                                            <div>
                                                                <i class="icm icm-pie text-primary"></i>
                                                            </div>
                                                            <div>
                                                                <?php if($note->getGroup())
                                                                {
                                                                    echo(round(($sum_group/$votenumber)*100));
                                                                }
                                                                else
                                                                {
                                                                    echo(round(($note->getVote()/$votenumber)*100));
                                                                }?> %
                                                            </div>
                                                        </div>
                                                        <?php if($vote): ?>
                                                        <div class="col-xs-4 text-center">
                                                            <a class="collapsed" onclick='vote(<?=$note->getId();?>, <?=$tabId;?>, "<?php echo(str_replace('"', '', $note->getName()));?>")'>
                                                            <div>
                                                                <i class="icm icm-star6 text-primary"></i>
                                                            </div>
                                                            <div>
                                                                Oddaj głos
                                                            </div>
                                                            </a>
                                                        </div>
                                                        <?php endif ?>

                                                    </div>
                                                </div>
                                                <div class="captionable-caption captionable-caption-bis panel-body-info nano">
                                                    <div class="nano-content padded no-padding-top">
                                                        <div class="margin-right">
                                                            <h4 class="text-right vertical-text-right with-scroll"><?php if($note->getGroup()): ?>
                                                        Grupa:
                                                        <?php foreach ($groups as $single_group): 
                                                            if($single_group->getId_Group()==$note->getGroup()):
                                                                echo $single_group->getName();
                                                            endif;                                                            
                                                        endforeach; ?> 
                                                        <?php else: ?>
                                                        <?=$note->getName();?>
                                                        <?php endif ?></h4>
                                                            <div>
                                                                <p><?=$note->getDescription();?></p>
                                                                <?php if($note->getGroup())
                                                                {
                                                                    $tmp_continnote=1;
                                                                }
                                                                else
                                                                {
                                                                                echo "</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>";
                                                                }?>
                                                           
                                <?php endif;?>                                              
                            <?php endif;?>
                            <?php endforeach; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <div id="mq"></div>
    <div id="emvars"></div>
    
    <div style="display:none;" >
        <div id="dlgContent">
            <p>Nazwa pomysłu</p>
            <input class="ajs-input" id="inpOne" type="text" placeholder="Nazwa pomysłu"/> 
            <p>Opis pomysłu</p>
            <textarea class="ajs-input" id="inpTwo" type="text" placeholder="Opis pomysłu" style="height: 40%;"></textarea> 
        </div>
    </div>
    <div style="display:none;" >
        <div id="dlgGroupedit">
            <?php if($note):?>
            
            <p>Wybierz grupę, usuń istniejącą albo stwórz nową</p>
            <p><button id="group_button" onclick="setGroup(0)">Usuń grupę</button></p>
            <p><button id="ok_group" onclick="addGroup(<?=$note->getTab_id()?>)">Dodaj grupę</button></p>
            <?php foreach ($groups as $single_group): ?>
            <p><button id="group_button" onclick="setGroup(<?=$single_group->getId_Group();?>)">Grupa: <?=$single_group->getName();?></button></p>                                                            
            <?php endforeach; ?> 
            <?php            endif;?>
        </div>
    </div>
    
</body>

<script>
    var dlgContentHTML = $('#dlgContent').html();
    $('#dlgContent').html("");
    var NoteID=0;
    var auto_refresh = setInterval(
        function (){
            $('#superrefresh').load(document.URL +  ' #superrefresh').fadeIn("slow");
            $('#collapseNavbarLeft2').load(document.URL +  ' #collapseNavbarLeft2').fadeIn("slow");
        }, 10000);
    
    function vote(noteId, tabId, name){
        $.post('/vote/addVote', {noteId, tabId}, function(data){
            if(data.ok){
                alertify.success(data.message + name);
            }
            else{
                alertify.error(data.message);
            }
        });
    }
    function addNote(id){
        $('#inpOne').val('');
        $('#inpTwo').val('');
        alertify.confirm(dlgContentHTML)
            .set('onok', function(closeevent, value) { 
                var idea = $('#inpOne').val();
                var description = $('#inpTwo').val();
                if(!idea || /^\s*$/.test(idea) || !description || /^\s*$/.test(description)){
                    alertify.error('Należy uzupełnić wszystkie pola! Pomysł nie został dodany!');
                }
                else{
                    $.post('/tab/addNote', {id, idea, description}, function(data){
//                        if(data == true) alertify.success('Dodawanie zakończone powodzeniem');
//                        else alertify.error('Wystapił bład: ' + data);
                    });
                    alertify.success('Pomysł dodany!');
                }
            })
            .set('oncancel', function(closeEvent){ alertify.error('Anulowano dodawanie pomysłu');})  
            .set('title','Dodawanie pomysłu');
    }
    function setGroup(number){
        $("#dlgGroupedit").dialog('close');
        var note_id=NoteID
        $.post('/tab/editGroupe', {note_id, number}, function(data2){
                        alertify.success('zmieniono grupę');
                    });
    }
    function editGroupStart(note_id){
        $(document).ready(function() {
                $("#dlgGroupedit").dialog();
        });
        NoteID=note_id;
        
    }
     function addGroup(tab_id){
                var note_id=NoteID
                $("#dlgGroupedit").dialog('close');
                alertify.prompt('Wprowadź nazwę nowej grupy','Nowa grupa')
                .set('onok', function(closeevent, name) { 
                        $.post('/tab/addGroupe', {name, tab_id}, function(data){
                            alertify.success('Utworzono nową grupę'+name); 
                            number = data.groupe;
                            $.post('/tab/editGroupe', {note_id, number}, function(data2){
                            alertify.success('zmieniono grupę');
                            });
                        });
                })       
                
            
                .set('oncancel', function(closeEvent){ alertify.error('Anulowano tworzenowe nowej grupy');})  
                .set('title','Zmiana nazwy grupy');         
    }
    function startVote(id){
        $.post('/vote/startVote/'+id);
        alertify.success('Rozpoczęto głosowanie');
    }
    function endVote(id){
        $.post('/vote/endVote/'+id);
        alertify.warning('Zakończono głosowanie');
    }
    function startGroupe(id){
        $.post('/groupe/startGroupe/'+id);
        alertify.success('Grupowanie uruchomione');
    }
    function endGroupe(id){
        $.post('/groupe/endGroupe/'+id);
        alertify.warning('Pomysły będą teraz pogrupowane');
    }
    function copyLink(userlink){
        window.prompt("Skopiuj link: Ctrl+C, Enter", userlink);
    }
</script>

</html>
