    <header id="header">
            <div id="logo" class="text-center animated" data-animation="fadeInUp" data-animation-delay="400">
                <a href="/"><img src="images/brainstorm.png" alt="Logo"></a>
            </div>
            <div id="slideshow">
                <ul class="rslides">
                  <li style="background-image: url(images/slide_img.jpg);">
                  <img src="images/slide_img.jpg" alt="">
                    <div class="slideshow-caption">
                        <h1><span class="highlight">Pomocnik Burzy mózgów</span></h1>
                        <h3>Projekt grupowy</h3>
                        <div class="button">
                            <a href="/tab/addtab">Stwórz nową tablicę</a>
                        </div>	    		
                    </div>
                  </li>
                </ul>	
            </div>
    </header>
    <nav id="navigation">
        <div class="nav-container">	
            <ul>
                <li><a class="active" href="#start">Start</a></li>
                <li><a href="#project">O projekcie</a></li>
                <li><a href="#team">Nasz zespół</a></li>
                <li><a href="#contact">Kontakt</a></li>
            </ul>			
        </div>
    </nav>
    <nav id="mobile-navigation">
        <div class="mobile-nav-container">
            <div id="menu-toggle">
                <i class="fa fa-bars"></i>
            </div>		
            <ul class="inactive">
                <li><a class="active" href="#start">Start</a></li>
                <li><a href="#project">O projekcie</a></li>
                <li><a href="#team">Nasz zespół</a></li>
                <li><a href="#contact">Kontakt</a></li>
            </ul>			
        </div>
    </nav>

    <a href="#" class="scrollup">
            <i class="fa fa-angle-double-up"></i>
    </a>

    <section id="start" class="start section">
        <div class="container">
            <div class="row">
                <div class="section-title animated" data-animation="fadeInUp" data-animation-delay="700">
                    <h2>Galeria</h2>
                    <div class="section-title-line animated" data-animation="fadeInUp" data-animation-delay="900">
                        <div class="section-title-icon">
                            <img src="images/brainstorm_mini.png" alt="">
                        </div>
                        <hr>
                    </div>				
                    <p>

                    </p>	
                </div>
                <div class="welcome-image text-center">
                        <img src="images/table.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="project" class="project section">
        <div class="container">
            <div class="row">
                <div class="section-title animated" data-animation="fadeInUp" data-animation-delay="700">
                    <h2>O projekcie</h2>
                    <div class="section-title-line">
                        <div class="section-title-icon">
                            <img src="images/brainstorm_mini.png" alt="">
                        </div>
                        <hr>
                    </div>				
                    <p>
                    Burza mózgów jest techniką twórczego rozwiązywania problemów. Dzięki wspólnemu procesowi zarówno generowania jak i oceny pomysłów, jest ona niezwykle efektywna. 
<br/>Celem tej aplikacji jest umożliwienie przeprowadzenia burzy mózgów z użyciem jedynie komputera lub urządzenia z dostępem do internetu. Pozwala ona na archiwizację postępów pracy oraz otwiera możliwość wspólnej pracy osobom znajdującym się w różnych miejscach na świecie jednocześnie. 
                    </p>	
                </div><
            </div>
        </div>
    </section>
    <section id="team" class="team section grey">
        <div class="container">
            <div class="row">
                <div class="section-title animated" data-animation="fadeInUp" data-animation-delay="700">
                    <h2>Nasz zespół</h2>
                    <div class="section-title-line">
                        <div class="section-title-icon">
                            <img src="images/brainstorm_mini.png" alt="">
                        </div>
                        <hr>
                    </div>				
                    <p>
                    To my Tworzymy tą aplikację dla was, wierzymy, że korzystanie z niej będzie przyjemnym doświadczeniem.
                    </p>	
                </div>
                <div class="col-md-4 col-sm-6 center-block">
                    <div class="cook-face text-center animated" data-animation="tada" data-animation-delay="1000">
                        <div class="cook-face-outer">
                            <img class="img-circle" src="img/madzia.jpg" alt="" style="height: 300px;">
                        </div>					
                        <h4>inż. Magda Pieciukiewicz</h4>
                        <h6>Studentka Informatyki</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id leo ut lacus consequat commodo non sed diam. Nullam dolor dolor, imperdiet vitae tincidunt id, molestie ac leo
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 center-block">
                    <div class="cook-face text-center animated" data-animation="tada" data-animation-delay="1000">
                        <div class="cook-face-outer">
                            <img class="img-circle" src="img/martyna.jpg" alt="" style="height: 300px;">
                        </div>					
                        <h4>inż. Martyna Szapar</h4>
                        <h6>Studentka Informatyki</h6>
                        <p>
                            Aenean a felis fermentum, tristique libero in, posuere nisl. Ut malesuada urna ante, ac porta odio convallis in. Etiam dapibus non eros a scelerisque. Aliquam.  
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 center-block">
                    <div class="cook-face text-center animated" data-animation="tada" data-animation-delay="1000">
                        <div class="cook-face-outer">
                            <img class="img-circle" src="images/face.jpg" alt="" style="height: 300px;">
                        </div>					
                        <h4>inż. Wojtek Grążawski</h4>
                        <h6>Student Informatyki</h6>
                        <p>
                            Vivamus vel mi sed metus finibus vulputate quis sit amet ipsum. Vivamus varius ullamcorper quam, a sagittis elit ullamcorper eu. Etiam ut ipsum at urna.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 center-block">
                    <div class="cook-face text-center animated" data-animation="tada" data-animation-delay="1000">
                        <div class="cook-face-outer">
                            <img class="img-circle" src="img/maciej.jpg" alt="" style="height: 300px;">
                        </div>					
                        <h4>inż. Maciej Wawryk</h4>
                        <h6>Student Informatyki</h6>
                        <p>
                            Curabitur scelerisque odio ipsum, et feugiat dolor aliquam quis. In in libero nec dui pretium consectetur et id sem. Praesent ut gravida dolor. Fusce mollis. 
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 center-block">
                    <div class="cook-face text-center animated" data-animation="tada" data-animation-delay="1000">
                        <div class="cook-face-outer">
                            <img class="img-circle" src="img/patryk.jpg" alt="" style="height: 300px;">
                        </div>					
                        <h4>inż. Patryk Zaremba</h4>
                        <h6>Student Informatyki</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Mauris diam purus, condimentum id ante in, lacinia luctus neque. Suspendisse accumsan, urna ut volutpat.  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>	

    <section id="contact" class="contact section grey section-without-pb">
        <div class="container-fluid">
            <div class="row">
                <div class="section-title animated" data-animation="fadeInUp" data-animation-delay="700">
                    <h2>Kontakt</h2>
                    <div class="section-title-line">
                        <div class="section-title-icon">
                            <img src="images/brainstorm_mini.png" alt="">
                        </div>
                        <hr>
                    </div>				
                    <p>
                    Skontaktuj się z nami 
                    </p>	
                </div>
                <div class="col-md-6">
                    <ul class="contact-details">
                        <li class="contact-email">brainstorm_online@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>