
<body class="high emerald-default index">
<!--[if lte IE 9]>
<script type="text/javascript">
  window.ltie9 = true;
</script>
<![endif]-->


<script type="text/javascript">
  window.onload = function(){
        if(window.ltie9){
         var css = [
            "/wrap_build/build/stylesheets/application.css",
            "/wrap_build/build/stylesheets/application_split2.css",
            "/wrap_build/build/stylesheets/application_split3.css"
          ];
        } else {
          var css = ["/wrap_build/build/stylesheets/application.css"];
        }
    };
</script>
   
<?php
   $child = $this->viewModel()->getCurrent();
?>

 <div class="splash-center_link1">
     <a href=<?php echo "/tab/index/".$child->links->getUser_link();?>>Panel uzytkownika</a>
 </div>	    

 <div class="splash-center_link2">
 <a href=<?php echo "/tab/index/".$child->links->getAdmin_link();?>>Panel adminstratora</a>
 </div>	  


</body>
