<!DOCTYPE html>
<head>
<title><?=$title?></title>
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- Seo Meta -->
<meta name="description" content="">
<meta name="keywords" content="">

<!-- Styles -->
<link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/styles/prettyPhoto.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/styles/owl.carousel.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/styles/owl.theme.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/styles/animate.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/style.css" media="screen" />

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,300,200,100,500' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
    
   
       
<center> 
    <div class="button">  
    <button type="button" onclick="showDiv('toggle')">Dodaj temat</button>
    </div>
   <div class="button">  
  <button type="button" >Wyswietl tematy</button>
  </div>
</center>
</br>
<div id="toggle" style="display:none">
   
    <form action="message.php" method="post" id="message_form">
        
        <fieldset>
            <input type="email" name="email" id="email" title="Email address"
                maxlength="40"
                placeholder="Adres email" 
                autocomplete="off" required />
            <br />
            <input type="text" 
                name="subject" 
                id="subject" title="Subject"
                maxlength="60" placeholder="Temat" autocomplete="off" required />
            <br />
            <textarea name="message" 
                id="message" 
                title="Message" 
                cols="30" 
                rows="5" 
                maxlength="100" 
                placeholder="Message" required>
            </textarea>
            <br />
            <input type="submit" value="Wyslij" id="submit"/>
        </fieldset>
        
</div>
 <script type="text/javascript">
   function showDiv(toggle){
  document.getElementById(toggle).style.display = 'block';
  }
</script> 
        
  

</body>
</html>

  